<div class="resume-section-content">
    <h2 class="mb-5">Bana Ulaşın</h2>
    <form method="post">
        <label>Ad Soyad : </label>
        <input type="text" class="form-control" name="FirstLastName" placeholder="Ad ve Soyad giriniz.." />

        <label>Email Adresi : </label>
        <input type="text" class="form-control" name="Mail" placeholder="Email giriniz.." />

        <label>Konu : </label>
        <input type="text" class="form-control" name="Subject" placeholder="Konu giriniz.." />

        <label>Mesaj : </label>
        <input type="text" class="form-control" name="Message" placeholder="Ad ve Soyad giriniz.." />
        <br />
        <button class="btn btn-info">Mesaj Gönder</button>
    </form>
</div>
