
@{
    ViewBag.Title = "AddEducation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Eğitim Ekleme</h4>
<br />
<form method="post">
    <input type="text" class="form-control" name="Title" placeholder="Okul Giriniz.." />
    <br />
    <input type="text" class="form-control" name="SubTitle1" placeholder="Alan Giriniz.." />
    <br />
    <input type="text" class="form-control" name="SubTitle2" placeholder="Bölüm Giriniz.." />
    <br />
    <input type="text" class="form-control" name="GNO" placeholder="Genel Not Ortalaması Giriniz.." />
    <br />
    <input type="text" class="form-control" name="Date" placeholder="Tarih Giriniz.." />
    <br />
    <button class="btn btn-success">Ekle</button>
</form>

